APP_NAME="ON;ME OS"
APP_URL="https://on-me-nail.xxxx.jp"
APP_ENV=production
APP_DEBUG=false

ADMIN_OWNER_CODE=9999
STAFF_KIHO_CODE=1001
STAFF_YUINA_CODE=1002

LIFF_ID=2010388216-TNXdkDdZ
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
